<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini chats</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>All Chats</h2>
    <form action="/chats/new">
        <button>Create your new Chat</button>
    </form>
    <% for(chat of chats){ %>
        <div class="chat">
            <p>From :<i><%= chat.from %></i></p>
            <div>
                <p>Message :<b><%= chat.msg %></b></p>
                <form method="GET" action="/chats/<%= chat._id %>/edit">
                    <button type="submit">Edit</button>
                </form>
                <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
                    <button type="submit">Delete</button>
                </form>            
            </div>
             <p>Recieved By :<i><%= chat.to %></i></p>
             <p><%=chat.created_at.toString().split(" ")[4] %></p>
             <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
             <hr>
        </div>
       
 <% } %>
    
</body>
</html>